.product-card{

}
.card {
    height: 100%;
    width: 18rem;
    background: #f2f2f2;

    &__image {
    }

    &__title {
        font-size: $font-size;
    }
    &__category{
        font-size: 14px;
        color:gray;
        margin: 2px;
    }

    &__subtitle {
        margin: 2px;
        font-size: 14px;
        color:gray;
    }

    &__price {
        font-size: $font-size;
    }
}