.header {
    background: #fff;
    margin-top: 16px;

    &__container {
        height: 75px;
    }

    &__body {
        height: 100%;
        display: flex;
        align-items: center;
    }


    &__main {}


    &__menu {}


    &__menu-mobile {
        width: 100%;
    }

    &__actions {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        justify-items: start;
        z-index: 1;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    &__icon:hover {
        background: #f2f2f2;
    }
}

.header-menu {
    &__list {
        height: 100%;
        margin: 0;
        display: flex;
        padding: 0;
    }

    &__list-mobile {
        overflow: auto;
        padding: 0;
        background: white;
        z-index: 99;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        max-width: 250px;
        height: 100%;
        top: 4.7rem;
        left: 0;
    }
    
    &__item {
        line-height: 75px;
        margin: 0;
        list-style: none;
        padding: 0 1rem;
    }

    &__item:hover {
        background: $hover-color;
    }

    &__link {
        font: inherit;
        font-weight: 400;
        font-size: $font-size;
    }
}

.mobile-nav {}

.mobile-nav-enter-active,
.mobile-nav-leave-active {
    transition: 1s ease all;
}

.mobile-nav-enter-from,
.mobile-nav-leave-to {
    transform: translateX(-250px);
}

.mobile-nav-enter-to {
    transform: translateX(0);
}