.header-dropdown {
    height: 540px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    position: absolute;
    z-index: 2;
    line-height: normal;
    border-top: 1px solid rgba(34, 60, 80, 0.1);

    &__container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }

    &__menu {
        width: 100%;
        display: flex;
        flex-grow: 1;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        text-transform: uppercase;
        margin: 0;
    }

    &__list {
        width: 100%;
        height: 400px;
        flex-wrap: wrap;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        list-style: none;
        margin: 8px 0;
        margin-right: 2rem;
    }

    &__item:last-child {
        margin-right: 0;
    }
}

.banners {
    flex-grow: 1;
    width: 100%;
    height: 98%;
}